In [1]:
pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\wasia\appdata\roaming\python\python313\site-packages (from -r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: sqlalchemy in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from -r requirements.txt (line 2)) (2.0.41)
Requirement already satisfied: pymysql in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from -r requirements.txt (line 3)) (1.1.1)
Requirement already satisfied: pyodbc in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from -r requirements.txt (line 4)) (5.2.0)
Requirement already satisfied: python-dotenv in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from -r requirements.txt (line 5)) (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\wasia\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pymysql
import pyodbc

In [ ]:
# pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\wasia\desktop\data science\data science property price prediction project\env\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Load .env variables
from dotenv import load_dotenv
print(load_dotenv())

True

In [4]:
# Create MySQL connection (AWS RDS)
mysql_engine = create_engine(
    f"mysql+pymysql://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASS')}@{os.getenv('MYSQL_HOST')}/{os.getenv('MYSQL_DB')}"
)

# Create MSSQL connection
mssql_engine = create_engine(
    f"mssql+pyodbc://{os.getenv('MSSQL_USER')}:{os.getenv('MSSQL_PASS')}@{os.getenv('MSSQL_HOST')}/{os.getenv('MSSQL_DB')}?driver={os.getenv('MSSQL_DRIVER')}&Encrypt=yes&TrustServerCertificate=no"
)

In [ ]:
# Upload flat data to MySQL
pd.read_excel(
    r'C:\Users\wasia\Desktop\Data Science\Data science Property Price Prediction Project\Data\flats.xlsx', sheet_name='flats').to_sql(
    'flats',
    con=mysql_engine,  
    if_exists='replace',
    index=False)

3028

In [6]:
# Upload independent house data to MySQL
pd.read_excel(
    r'C:\Users\wasia\Desktop\Data Science\Data science Property Price Prediction Project\Data\independent-house.xlsx').to_sql(
    'independent-house',
    con=mysql_engine,  
    if_exists='replace',
    index=False)

1095

In [ ]:
# Upload flats data to MSSQL
pd.read_excel(
    r'C:\Users\wasia\Desktop\Data Science\Data science Property Price Prediction Project\Data\flats.xlsx').to_sql(
    'flats',
    con=mssql_engine,  
    if_exists='replace',
    index=False)

12

In [ ]:
# Upload independent house data to MSSQL
pd.read_excel(
    r'C:\Users\wasia\Desktop\Data Science\Data science Property Price Prediction Project\Data\independent-house.xlsx').to_sql(
    'independent-house',
    con=mssql_engine,  
    if_exists='replace',
    index=False)

6

In [16]:
df2 = pd.read_sql("SELECT * FROM flats", con=mssql_engine)
df2.head()

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,2 BHK Flat in Krishna Colony,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"? 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,None,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746
1,2 BHK Flat in Ashok Vihar,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"? 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,None,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564
2,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"? 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,None,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,None,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",None,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120
3,2 BHK Flat in Sector 61 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"? 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,None,2023-12-01 00:00:00.000,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,None,"['Security / Fire Alarm', 'Private Garden / Te...",None,S68849476
4,2 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"? 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,None,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],None,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793

In [17]:
df2.shape

(3028, 20)

In [19]:
df3 = pd.read_sql("SELECT * FROM [independent-house]", con=mssql_engine)
df3.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"? 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,...,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,None,5.7 Crore,"? 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,...,"Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,None,5 to 10 Year Old,None,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",None,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,None,2.1 Crore,"? 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,...,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,None,5 Crore,"? 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,...,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,5 Bedroom House for sale in Rajiv Chowk,https://www.99acres.com/5-bhk-bedroom-independ...,Hans Enclave,None,"? 4,333/sq.ft.",(139 sq.m.) Plot Area,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
df3.shape

(1095, 21)

In [5]:
app_df = pd.read_csv(r'C:\Users\wasia\Desktop\Data Science\Data science Property Price Prediction Project\Data\appartments.csv')
app_df.head(1)

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."

In [6]:
app_df.shape

(247, 7)

In [7]:
# Upload apartments data to MySQL
app_df.to_sql('appartments',con=mysql_engine,  if_exists='replace',index=False)

247

In [9]:
# Upload apartments data to MSSQL
app_df.to_sql('appartments',con=mssql_engine,  if_exists='replace',index=False)

247